.Game {
    position: relative;
}
.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: #ccc;
    position: absolute;
}

.Controls {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}

.Controls.hidden {
    display: none;
}

.Controls .Buttons {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}